@import '../../theme/colors';

.mainLoader .modalDialog{
	/* position: absolute;
    left: 44%;
    top: 40%;
    width: auto; */
    margin-top: 45vh;
}
.mainLoader .modalDialog > div{
	background: transparent;
    box-shadow: none;
    border: none;
}
.mainLoader .loadingText{
    font-size: 16px;
    color: $colorSubHeading;
    font-weight: 300;
    margin-top: 13px;
    letter-spacing: 1px;
}

.imageGif{
	height: 35px;
	width: 35px;
}
































