$colorHeading: #e1e1e6;
$colorSubHeading: #acadad;
$colorBG: #42434e;

$colorInput: #e1e1e6;

$colorErrorHeading: #ff4646;
$colorErrorMessage: #e1e1e6;
$colorErrorBG: #2e2e2e;

$colorButtonBG: #2e2e2e;
$colorButtonText: #e1e1e6;

$colorToggleHead:#e1e1e6;
$colorToggleBG: #acadad;
$colorToggleCheckedBG: #2e2e2e;





